h2 {{ msg }}

button(data-ng-click="listar()")
  | Listar

ul
  li(data-ng-repeat="cerveja in cervejas")
    {{ cerveja.name }} - {{ cerveja.type }} - 
    a(href="/beers/{{ cerveja._id }}")
      | Edit